.bookshelf{
    background: url("../../../public/bookshelf.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 32vh;
    width: 100vw;
    position: relative;
    background-attachment: fixed;
}
.big-container{
    width: 100vw;
    height: 32vh;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    h1,h3{
        color: white;
    }
    button{
        margin: 0 0 0 20px;
        width: 30px;
        height: 30px;
        border: none;
        padding: 5px 0 5px  ;
    }
    input{
        width: 400px;
        height: 60px;
    }
    i{
        font-size: 45px;
    }
    
}
.title-container{
    
}
.sub-title{
    color: white;
}
.bookshelf:after{
    background-color: rgba(0,0,0,0.4);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top:0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.book-title{

}
.book-search{
    width: 500px;
}
