* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todolist {
    // background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    // color: white;
    // font-family: "Poppins", sans-serif;
    // min-height: 100vh;
    z-index: 99;
}

header {

}
.todo-button{
    z-index: 99;
    cursor: pointer;
}
.todo-input{
    z-index: 99;
}
