.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(80deg,rgb(108, 92, 231),rgb(162, 155, 254));
    
    // background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.3));
}
.login-container{
}
.logo-img{
    width: 250px;
    margin: auto;
    padding-bottom: -20px;
}
form{
    background-color: white;
    border-radius: 12px;
    width:500px;
    height: 700px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.regi-label{
    opacity: 0.7;
    font-size: 18px;
    padding-bottom: 7px;
    cursor: pointer;
}