
:root{
    --color-bg:#fff;
    --color-bg-variant:#2c2c6c;
    --color-primary:#4db5ff;
    --color-primary-variant:rgba(77,181,255,0.4);
    --color-white:#fff;
    --color-light:rgba(255,255,255,0.6);
    --color-dark:#444;
    --color-purple:#800080;
  
    --transition: all 400ms ease;
  
    --container-width-lg : 75%;
    --container-width-md : 86%;
    --container-width-ms : 90%;
}

body{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    line-height: 1.7;
    overflow: hidden;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}
.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-purple);
    padding: 0.75rem 1.2rem;
    border-radius: 10px;
    border: 1px solid var(--color-purple);
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-dark);
    color: var(--color-bg);
    border-color: transparent;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}